src/conf/xml-resources/web-service-references/calculator_1/wsdl/localhost_8080/wsprovider/calculator.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="addNumber" type="tns:addNumber"/>

<xs:element name="addNumberResponse" type="tns:addNumberResponse"/>

<xs:element name="dividenumber" type="tns:dividenumber"/>

<xs:element name="dividenumberResponse" type="tns:dividenumberResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="multiplynamber" type="tns:multiplynamber"/>

<xs:element name="multiplynamberResponse" type="tns:multiplynamberResponse"/>

<xs:element name="subtraNumber" type="tns:subtraNumber"/>

<xs:element name="subtraNumberResponse" type="tns:subtraNumberResponse"/>

<xs:complexType name="dividenumber">
<xs:sequence>
<xs:element name="A" type="xs:double"/>
<xs:element name="B" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dividenumberResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtraNumber">
<xs:sequence>
<xs:element name="A" type="xs:double"/>
<xs:element name="B" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtraNumberResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNumber">
<xs:sequence>
<xs:element name="A" type="xs:double"/>
<xs:element name="B" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNumberResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplynamber">
<xs:sequence>
<xs:element name="A" type="xs:double"/>
<xs:element name="B" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplynamberResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>