web/WEB-INF/wsdl/localhost_8080/wsprovider/calculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="calculator">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/wsprovider/calculator?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addNumber">
<part name="parameters" element="tns:addNumber"/>
</message>
<message name="addNumberResponse">
<part name="parameters" element="tns:addNumberResponse"/>
</message>
<message name="multiplynamber">
<part name="parameters" element="tns:multiplynamber"/>
</message>
<message name="multiplynamberResponse">
<part name="parameters" element="tns:multiplynamberResponse"/>
</message>
<message name="dividenumber">
<part name="parameters" element="tns:dividenumber"/>
</message>
<message name="dividenumberResponse">
<part name="parameters" element="tns:dividenumberResponse"/>
</message>
<message name="subtraNumber">
<part name="parameters" element="tns:subtraNumber"/>
</message>
<message name="subtraNumberResponse">
<part name="parameters" element="tns:subtraNumberResponse"/>
</message>
<portType name="calculator">
<operation name="hello">
<input wsam:Action="http://ws/calculator/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/calculator/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addNumber">
<input wsam:Action="http://ws/calculator/addNumberRequest" message="tns:addNumber"/>
<output wsam:Action="http://ws/calculator/addNumberResponse" message="tns:addNumberResponse"/>
</operation>
<operation name="multiplynamber">
<input wsam:Action="http://ws/calculator/multiplynamberRequest" message="tns:multiplynamber"/>
<output wsam:Action="http://ws/calculator/multiplynamberResponse" message="tns:multiplynamberResponse"/>
</operation>
<operation name="dividenumber">
<input wsam:Action="http://ws/calculator/dividenumberRequest" message="tns:dividenumber"/>
<output wsam:Action="http://ws/calculator/dividenumberResponse" message="tns:dividenumberResponse"/>
</operation>
<operation name="subtraNumber">
<input wsam:Action="http://ws/calculator/subtraNumberRequest" message="tns:subtraNumber"/>
<output wsam:Action="http://ws/calculator/subtraNumberResponse" message="tns:subtraNumberResponse"/>
</operation>
</portType>
<binding name="calculatorPortBinding" type="tns:calculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplynamber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dividenumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtraNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="calculator">
<port name="calculatorPort" binding="tns:calculatorPortBinding">
<soap:address location="http://localhost:8080/wsprovider/calculator"/>
</port>
</service>
</definitions>